{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "globals": {
    "fetch": true,
    "navigator": true,
    "document": true,
    "window": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": 0,
    "eol-last": 0,
    "react/forbid-prop-types": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "import/no-unresolved": 0,
    "class-methods-use-this": 0,
    "no-useless-computed-key": 0,
    "key-spacing": [0, { "align": "value" }],
    "arrow-parens": "off",
    "generator-star-spacing": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-filename-extension": "off",
    "react/no-danger": "off",
    "react/no-unused-prop-types": "off",
    "react/prefer-stateless-function": "off",
    "computed-property-spacing": 0,
    "no-unused-vars": 0,
    "no-multiple-empty-lines": 0,
    "comma-dangle": 0

  },
  "plugins": [
    "react"
  ]
}
