/*
 * less/style.less
 * Author: H.Alper Tuna <halpertuna@gmail.com>
 * Date: 21.08.2016
 */
/*
 * less/utils.less
 * Author: H.Alper Tuna <halpertuna@gmail.com>
 * Date: 21.08.2016
 */
.mobx_menu {
  background: #303336;
  background: rgba(255, 255, 255, 0.05);

  font-size: 16pt;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.mobx_menu > .mobx_menu-container > .mobx_menu-item > .mobx_menu-link {
  line-height: 3em;

}
.mobx_menu > .mobx_menu-container > .mobx_menu-item > .mobx_menu-link .mobx_menu-state-icon {
  line-height: 3em;
}
.mobx_menu::after {
  box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.5) inset;
  content: " ";
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.mobx_menu-container,
.mobx_menu-item {
  margin: 0;
  padding: 0;

}
.mobx_menu-container {
  list-style: none;
  padding-top: 15px;
}
.mobx_menu-container .mobx_menu-container {
  box-shadow: 0 0.3em 0.3em -0.3em #0c0d0e inset, 0 -0.3em 0.3em -0.3em #0c0d0e inset;
  -webkit-box-shadow: 0 0.3em 0.3em -0.3em #0c0d0e inset, 0 -0.3em 0.3em -0.3em #0c0d0e inset;
  transition: padding 300ms;
  -webkit-transition: padding 300ms;
  //background: rgba(255, 255, 255, 0.05);
}
.mobx_menu-container .mobx_menu-container .mobx_menu-item > .mobx_menu-link {
  height: 0;
  overflow: hidden;
}
.mobx_menu-container .mobx_menu-container .mobx_menu-link {
  padding-left: 1em;
}
.mobx_menu-container .mobx_menu-container .mobx_menu-container .mobx_menu-link {
  padding-left: 2em;
}
.mobx_menu-container.visible {
  padding: .5em 0;
}
.mobx_menu-container.visible > .mobx_menu-item > .mobx_menu-link {
  height: 2.5em;
}
.mobx_menu-link,
.mobx_menu-title
{
  color: #DDD;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  transition: height 300ms, color 300ms, background-color 300ms;
  -webkit-transition: height 300ms, color 300ms, background-color 300ms;
  display: block;
  line-height: 2.5em;
  text-decoration: none;

}

.mobx_menu-title {
  font-weight: bold;
  line-height: 2em;
  margin-top: 5px;
  margin-bottom: -10px;

}

.mobx_menu-link:hover {
  background: rgba(255, 255, 255, 0.05);
  color: #f7f7f7;
}
.mobx_menu-link.active {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #F53;
  background: rgba(255, 85, 51, 0.50);
  color: #FFF;
}
.mobx_menu-link.has-active-child {
  color: #F53;

}
I.mobx_menu-icon {
  text-align: center;
  width: 3em;
}
I.mobx_menu-state-icon {
  transition: transform 300ms;
  -webkit-transition: transform 300ms;
  float: right;
  line-height: 2.5em;
  text-align: center;
  width: 3em;
}
I.mobx_menu-state-icon.rotate-minus-90 {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
