@charset "utf-8";
@import "styles/hamburgers/hamburgers";
@import "styles/flexbox-grid";



body {
  margin: 0px!important;
  padding: 0px!important;
  background-color: #2c3338;

  overflow-y:hidden!important;

  //font-family: "Metric",Arial,sans-serif;
}

.main-container {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: none;
  background-color: black;
  height: 100vh;

}



/* ---------- GENERAL ---------- */

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }

}


