.AppBar-Container {
  padding: {
    //top: 5px;
    //bottom: 5px;
  }
  background-color: rgba(40,0,40,0.55);

  .menu-section {
    min-width: 40%;
    background-color: transparent;
    padding: 0;
    height: 45px;
    overflow-y: hidden!important;
    margin: 0;


  }

  .menu-sections {
    background-color: transparent;
    padding: 0;
    max-height: 100%;
    overflow-y: hidden!important;
    margin-right: 0;

  }

  .settings-label {
    //max-width: 50%!important;
    //min-width: 50%!important;
    padding: 0;
    margin: 0!important;
    max-height: 100%;
  }

  .app-button {
    font-weight: 600;
    height: 45px;
    background-color: transparent;
    margin: 0 auto;
    &:hover {
      color: #00b2f3;
    }

    &:focus,
    &::selection {
      background-color: transparent;
      color: #fff;
    }


  }






.dashboard-settings-item {
  max-width: 100px!important;
  background: transparent!important;
  background-color: transparent!important;

  color: #fff!important;

  &:focus,
  &:active,
  &::selection {
    text-align: right;
    background-color: transparent;
    color: #fff!important;
  }

}}
