.AppBar-Container {
  padding: {
    //top: 5px;
    //bottom: 5px;
  }
  background-color: rgba(40,0,40,0.55);

  .menu-section {
    min-width: 40%;
    background-color: transparent;
    padding: 0;
    height: 45px;
    overflow-y: hidden!important;
    margin-left: 0;

  }

  .menu-sections {
    background-color: transparent;
    padding: 0;
    max-height: 100%;
    overflow-y: hidden!important;
    margin-left: 0;

  }

  .app-button {
    font-weight: 600;
    height: 45px;
    background-color: transparent;
    margin: 0 auto;
    &:hover {
      color: #00b2f3;
    }

    &:focus,
    &::selection {
      background-color: transparent;
      color: #fff;
    }

  }



}
