.AppBar-Container {
  background-color: rgba(40,0,40,0.55);



  .app-button {
    min-width: 185px!important;
    max-width: 185px!important;


  }
  .grommetux-button,
  .grommetux-control-icon
  {
    stroke: white!important;
    color: white;
  }

}
.sub-menu-parent { position: relative; }

.sub-menu {
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent:hover .sub-menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}